.dark {
  --color-bg: #141414;
  --color-card-bg: #282828;
  --color-sidebar-bg: #3f3f3f;
  --color-sidebar-selection-bg: #2c2c2c;

  --color-text: #e0e0e0;
  --color-text-placeholder: #909090;
  --color-text-white: #141414;

  --color-accent: #c5ff75;
  --color-accent-hover: #a9da65;
  --color-on-accent: #141414;
  --color-accent-gradient: #69883d;

  --color-icon: #d9d9d9;

  --content-bg: #232323;

  --primary-container-bg: #373737;
  --secondary-container-bg: #4c4c4c;
  --secondary-container-highlight: #616161;

  --color-category-unfocus:#616161;
  --color-category-hover:#6a6a6a;

  --color-calendar-detail: #a8a8a8;

  --color-priority-low: #83d453;
  --color-priority-medium: #f0b537;
  --color-priority-high: #fa8383;
  --split-hue: 130deg;
  --split-contrast: 1.4;
  --split-brightness: 1.1;

  background-color: var(--content-bg);
  color: var(--color-text);
}

.light {
  --color-bg: #ebebeb;
  --color-card-bg: #ffffff;

  --color-sidebar-bg: #f1f1f1;
  --color-sidebar-selection-bg: #f0eeee;

  --color-text: #141414;
  --color-text-placeholder: #696969;
  --color-text-white: #ffffff;

  --color-accent: #fe73ba;
  --color-accent-hover: #d7619e;
  --color-on-accent: #ffffff;
  --color-accent-gradient: #ffc7e3;

  --color-icon: #141414;

  --content-bg: #d9d9d9;

  --primary-container-bg: #eaeaea;
  --secondary-container-bg: #ffffff;
  --secondary-container-highlight: #f3f3f3;

  --color-category-unfocus:#D9D9D9;
  --color-category-hover:#d1d1d1;

  --color-calendar-detail: #565656;

  --color-priority-low: #83d453;
  --color-priority-medium: #f0b537;
  --color-priority-high: #fa8383;
  --split-hue: 0deg;
  --split-contrast: 1.0;
  --split-brightness: 1.0;

  background-color: var(--content-bg);
  color: var(--color-text);
}
