.dark {
  --color-bg: #141414;
  --color-card-bg: #282828;
  --color-sidebar-bg: #373737;
  --color-sidebar-selection-bg: #2c2c2c;

  --color-text: #e0e0e0;

  --color-accent: #c5ff75;
  --color-on-accent: #141414;

  --color-icon: #d9d9d9;
}

.light {
  --color-bg: #ebebeb;
  --color-card-bg: #ffffff;

  --color-sidebar-bg: #ffffff;
  --color-sidebar-selection-bg: #f0eeee;

  --color-text: #141414;

  --color-accent: #fe73ba;
  --color-on-accent: #ffffff;

  --color-icon: #141414;
}
