.dark {
  --color-bg: #141414;
  --color-card-bg: #282828;
  --color-sidebar-bg: #373737;
  --color-sidebar-selection-bg: #2c2c2c;

  --color-text: #e0e0e0;

  --color-accent: #c5ff75;
  --color-on-accent: #141414;

  --color-icon: #d9d9d9;

  --content-bg: #232323;

  --primary-container-bg: #373737;
  --secondary-container-bg: #4c4c4c;
  --secondary-container-highlight: #616161;

  --color-calendar-detail: #a8a8a8;

  background-color: var(--content-bg);
  color: var(--color-text);
}

.light {
  --color-bg: #ebebeb;
  --color-card-bg: #ffffff;

  --color-sidebar-bg: #ffffff;
  --color-sidebar-selection-bg: #f0eeee;

  --color-text: #141414;

  --color-accent: #fe73ba;
  --color-on-accent: #ffffff;

  --color-icon: #141414;

  --content-bg: #d9d9d9;

  --primary-container-bg: #eaeaea;
  --secondary-container-bg: #ffffff;
  --secondary-container-highlight: #f3f3f3;

  --color-calendar-detail: #565656;

  background-color: var(--content-bg);
  color: var(--color-text);
}
