@import "_variables.scss";

$calendar-border-radius: clamp(1rem, 3vmin, 5rem);
$calendar-inner-border-radius: clamp(1rem, 2.6vmin, 5rem);
$calendar-cell-border-radius: clamp(1rem, 2vmin, 5rem);
$calendar-cell-inner-border-radius: clamp(1rem, 1.7vmin, 5rem);
$calendar-side-panel-content-radius: clamp(1rem, 4vmin, 5rem);

.calendar-page {
    width: 100%;
    height: 100%;
    font-family: $app-font;
    padding: 5vh;
}

@media (max-width: 768px) {
    .calendar-page {
        padding: 3vh;
    }
}

// To powinno być jakoś globalnie żeby nie powtarzać wszędzie idk
.pimpus {
    filter: hue-rotate(var(--split-hue)) contrast(var(--split-contrast)) brightness(var(--split-brightness));
}

.calendar {
    border-radius: $calendar-border-radius;
    background-color: var(--color-accent);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.calendar-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows:
        0.3fr repeat(6, minmax(0, 1fr));
    gap: 0.8em;
    padding: 1em;
    background-color: var(--primary-container-bg);
    border-radius: $calendar-inner-border-radius;
    flex: 1;
    min-height: 0;
    box-shadow: inset 0 4px 12px -4px rgba(0, 0, 0, 0.5);
}

.calendar-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    color: var(--color-on-accent);
    width: 100%;
    padding-inline: 5vw;
}

.calendar-header * {
    font-size: 40px;
}

.calendar-days {
    grid-column: span 7;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: var(--color-calendar-detail);
    border-radius: $calendar-border-radius;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    color: var(--color-on-accent);
    text-align: center;
    margin: 0;
}

.calendar-days h4 {
    margin: 0;
    font-weight: bold;
}

.calendar-cell {
    height: 100%;
    border-radius: $calendar-cell-border-radius;
    cursor: pointer;
    background-color: var(--secondary-container-bg);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    user-select: none;
    display: flex;
    flex-direction: column;
}

.calendar-cell:hover {
    background-color: var(--secondary-container-highlight);
}

.calendar-cell:hover .calendar-cell-number,
.calendar-cell:active .calendar-cell-number {
    background-color: var(--color-accent);
}

.calendar-cell:focus {
    outline: 3px solid var(--color-accent);
}

.calendar-cell-number {
    background-color: var(--color-calendar-detail);
    color: var(--color-on-accent);
    width: 60px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: $calendar-cell-border-radius;
    border-bottom-right-radius: $calendar-cell-border-radius;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-top: -2px;
    margin-left: -2px;
    font-size: 20px;
    font-weight: bold;
}

.calendar-cell-content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    mask-image: linear-gradient(to bottom, transparent 0%, black 10px, black calc(100% - 10px), transparent 100%);
}

.calendar-cell-content::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .calendar-cell-content {
        flex-direction: column;
        align-items: center;
        padding: 5px 0;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: scroll;
        gap: 2px;
    }
}

.calendar-cell-task-count {
    margin-bottom: auto;
    font-weight: bold;
    border: 3px solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.priority-low {
    color: var(--color-priority-low);
    border-color: var(--color-priority-low);
}

.priority-medium {
    color: var(--color-priority-medium);
    border-color: var(--color-priority-medium);
}

.priority-high {
    color: var(--color-priority-high);
    border-color: var(--color-priority-high);
}

.calendar-button {
    background: none;
    border: none;
}

.arrow-icon {
    width: 32px;
    transform-origin: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

.arrow-icon:focus {
    outline: 1px solid currentColor;
}

.arrow-icon-right {
    transform: scale(1.5);
    justify-self: end;
}

.arrow-icon-left {
    transform: rotate(180deg) scale(1.5);
    justify-self: start;
}

.calendar-side-panel {
    position: fixed;
    top: 0;
    right: -650px;
    width: 650px;
    height: 100vh;
    background: var(--color-accent-gradient);
    transition: right 0.3s ease;
    z-index: 80;
    display: flex;
    flex-direction: column;
}

.calendar-side-panel.open {
    right: 0;
}

@media (max-width: 768px) {
    .calendar-side-panel {
        width: 100vw;
        right: -100vw;
    }

    .calendar-side-panel.open {
        right: 0;
    }
}

.close-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

.overlay {
    opacity: 1;
    transition: opacity .3s ease;
}

.overlay.open {
    opacity: 0.3;
}

.overlay.open * {
    pointer-events: none;
}

.calendar-side-panel-header {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    padding-inline: 1em;
    z-index: 1;
    background: linear-gradient(var(--color-accent), var(--color-accent-gradient));
}

.calendar-side-panel-header h1 {
    color: var(--primary-container-bg);
    z-index: 2;
    font-size: 50px;
}

.calendar-pimpus {
    transform: scale(0.8);
    align-self: center;
    max-width: 100%;
    position: absolute;
    bottom: -250px;
}

@media (max-width: 768px) {
    .calendar-side-panel-header {
        margin-top: 60px;
    }



    .calendar-pimpus {
        bottom: -220px;
        max-height: 600px;
        max-width: none;
    }
}

.calendar-side-panel-content {
    background: var(--color-sidebar-bg);
    padding: 3em;
    border-top-left-radius: $calendar-side-panel-content-radius;
    border-top-right-radius: $calendar-side-panel-content-radius;
    flex: 1;
    min-height: 0;
    z-index: 5;
}

@media (max-width: 768px) {
    .calendar-side-panel-content {
        padding: 1.5em;
    }
}

.calendar-side-panel-content-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.edit-icon {
    justify-self: end;
    height: 16px;
    margin-right: 10px;
    transform-origin: center;
    transform: scale(2);
    cursor: pointer;
}

.edit-icon:focus {
    outline: 1px solid currentColor;
}

.calendar-side-panel-list {
    height: 90%;
    overflow-y: scroll;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 30px 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    mask-image: linear-gradient(to bottom, transparent 0%, black 30px, black calc(100% - 30px), transparent 100%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    z-index: 2;
}

.calendar-side-panel-list::-webkit-scrollbar {
    display: none;
}

.calendar-side-panel-task-item {
    margin: 20px;
    background-color: gray; // ugly ahh hardcoded color
    border-radius: $calendar-cell-border-radius;
}

.calendar-side-panel-task-item-header {
    height: 30px;
    padding-inline: 2em;
    margin-bottom: -1px;
}

.calendar-side-panel-task-item-content {
    background-color: var(--secondary-container-bg);
    padding: 20px;
    border-radius: $calendar-cell-inner-border-radius;
}

.calendar-no-data-text {
    display: flex;
    height: 60%;
    padding: 0 20px;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 768px) {

    /* NO GAPS */
    .calendar-container {
        gap: 0.3em;
        padding: 0.5em;
        grid-template-rows:
            auto repeat(6, 1fr);
    }

    .calendar-header * {
        font-size: 28px;
    }

    .calendar-cell-number {
        width: auto;
        height: auto;
        padding: 0.25em 0.5em;
        font-size: 16px;
        border-radius: 0.5rem;
        margin: 0;
    }

    .calendar-cell {
        min-height: 0;
        border-radius: 0.5rem;
    }

    /* NO SHADOWS */
    .calendar-cell,
    .calendar-days {
        box-shadow: none;
    }

    .calendar-days h4 {
        font-size: 16px;
    }

    .calendar-side-panel-header h1 {
        font-size: 40px;
        margin-bottom: -9px;
    }

    .arrow-icon {
        width: 20px;
    }
}