$calendar-border-radius: clamp(1rem, 3vmin, 5rem);
$calendar-cell-border-radius: clamp(1rem, 2vmin, 5rem);
$calendar-side-panel-content-radius: clamp(1rem, 4vmin, 5rem);

.calendar-page {
    width: 100%;
    height: 100%;
}

.calendar {
    border-radius: $calendar-border-radius;
    background-color: var(--color-accent);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.calendar-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows:
        0.3fr 
        repeat(6, minmax(0, 1fr));
    gap: 0.8em;
    padding: 1em;
    background-color: var(--primary-container-bg);
    border-radius: $calendar-border-radius;
    flex: 1;
    min-height: 0;
    box-shadow: inset 0 4px 12px -4px rgba(0, 0, 0, 0.5);
}

.calendar-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    color: var(--color-on-accent);
    width: 100%;
    padding-inline: 5vw;
}

.calendar-header * {
    font-size: 40px;
}

.calendar-days {
    grid-column: span 7;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: var(--color-calendar-detail);
    border-radius: $calendar-border-radius;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    color: var(--color-on-accent);
    text-align: center;
    margin: 0;
}

.calendar-days h4 {
    margin: 0;
    font-weight: bold;
}

.calendar-cell {
    height: 100%;
    border-radius: $calendar-cell-border-radius;
    cursor: pointer;
    background-color: var(--secondary-container-bg);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    user-select: none;
}

.calendar-cell:hover {
    background-color: var(--secondary-container-highlight);
}

.calendar-cell:hover .calendar-cell-number,
.calendar-cell:active .calendar-cell-number {
    background-color: var(--color-accent);
}

.calendar-cell-number {
    background-color: var(--color-calendar-detail);
    color: var(--color-on-accent);
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: $calendar-cell-border-radius;
    border-bottom-right-radius: $calendar-cell-border-radius;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-top: -2px;
    margin-left: -2px;
    font-size: 20px;
    font-weight: bold;
}

.calendar-cell-content {
    padding: 10px;
}

.calendar-button {
    background: none;
    border: none;
}

.arrow-icon {
    width: 32px;
    transform-origin: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

.arrow-icon-right {
    transform: scale(1.5);
    justify-self: end;
}

.arrow-icon-left {
    transform: rotate(180deg) scale(1.5);
    justify-self: start;
}

.side-panel {
    position: fixed;
    top: 0;
    right: -700px;
    width: 700px;
    height: 100vh;
    background: var(--color-accent);
    //box-shadow: -2px 0 4px rgba(0, 0, 0, 0.25);
    transition: right 0.3s ease;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.side-panel.open {
    right: 0;
}

.close-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

.overlay {
  opacity: 1;
  transition: opacity .3s ease;
}

.overlay.open {
  opacity: 0.3;
}

.overlay.open * {
    pointer-events: none;
}

.side-panel-header {
    height: 300px;
    display: grid;
    align-content: end;
    padding-inline: 3em;
    z-index: 1;
    text-shadow: 2px 0 4px rgba(0, 0, 0, 0.25);
}

.side-panel-header h1 {
    color: var(--color-on-accent);
    margin-bottom: -10px;
    font-size: 50px;
}

.side-panel-content {
    background: var(--color-sidebar-bg);
    padding: 2em;
    border-top-left-radius: $calendar-side-panel-content-radius;
    border-top-right-radius: $calendar-side-panel-content-radius;
    flex: 1;
    min-height: 0;
}

.side-panel-content-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.edit-icon {
    justify-self: end;
}