@import "_variables.scss";


.dashboard-main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.dashboard-left {
    background-color: blue;
    width: 70%;
}

.dashboard-right {
    background-color: red;
    width: 30%;
}

.dashboard-left-top {
    margin: 10px;
}

.dashboard-left-middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dashboard-percentage-of-done-tasks {
    background-color: var(--secondary-container-bg);
}


// gauge chart

.gauge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $app-font;
    padding: 20px;
    background: var(--secondary-container-bg);
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.05);
    width: 100%;
    max-width: 300px;
}

.gauge-title {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
}

.gauge-chart-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gauge-progress-circle {
    transition: stroke-dasharray 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.gauge-text-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 55%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.gauge-percentage-text {
    font-size: 3rem;
    font-weight: 800;
    font-family: $app-font;
    color: #ff66b3;
    
    text-shadow: 
        1px 1px 0px #ffffff,
        2px 2px 0px rgba(0,0,0,0.1),
        inset 0 0 10px rgba(0,0,0,0.1); 
        
    background: linear-gradient(135deg, #ff8ec3 30%, #ff4d9e 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    filter: drop-shadow(2px 3px 2px rgba(0,0,0,0.15));
}
