@import "_variables.scss";

$mobile-topbar-height: 60px;

$sidebar-collapsed-width: 130px;
$sidebar-open-width: 356px;
$sidebar-element-size: 88px;
$sidebar-icon-size: 40px;

.main-content {
    height: 100dvh;
}

/* ------------------------- */
/* GLOBAL MAIN CONTENT OFFSET */
/* ------------------------- */
@media (min-width: 768px) {
  .main-content {
    padding-left: calc($sidebar-collapsed-width);
  }
}

@media (max-width: 768px) {
  .main-content {
    padding-top: calc($mobile-topbar-height);
  }
}

/* ------------------------- */
/* MOBILE TOP BAR */
/* ------------------------- */
.mobile-topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $mobile-topbar-height;
  background-color: var(--color-sidebar-bg);
  color: var(--color-text);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

  @media (min-width: 768px) {
    display: none;
  }
}

.mobile-topbar-left-side {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mobile-topbar-logo {
  width: 44px;
  height: 44px;
}

.mobile-topbar-left-side h2 {
  font-size: 32px;
  margin: 0;
  font-weight: 700;
}

.mobile-menu-btn {
  color: var(--color-text);
  background: none;
  border: none;
  font-size: 28px;
  padding: 5px;
  cursor: pointer;
}

/* ------------------------- */
/* MOBILE DROPDOWN SIDEBAR */
/* ------------------------- */
.mobile-dropdown {
  position: fixed;
  top: $mobile-topbar-height;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: var(--color-sidebar-bg);
  color: var(--color-text);
  z-index: 100;
  transition: max-height 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  padding: 0;

  @media (min-width: 768px) {
    display: none;
  }
}

.mobile-dropdown.open {
  max-height: calc(100vh - $mobile-topbar-height - 20px);
}

/* ------------------------- */
/* DESKTOP SIDEBAR */
/* ------------------------- */
.sidebar-logo {
  height: $sidebar-element-size;
  width: $sidebar-element-size;
  flex-shrink: 0;
}

.desktop-sidebar {
  background-color: var(--color-sidebar-bg);
  color: var(--color-text);
  width: $sidebar-collapsed-width;
  transition: width 0.25s ease;
  z-index: 2100;
}

.desktop-sidebar:hover,
.desktop-sidebar.expanded {
  width: $sidebar-open-width;
}

.nav-bar {
  font-family: $app-font;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.25s ease;
  padding: calc(($sidebar-collapsed-width - $sidebar-element-size) / 2);

  box-sizing: border-box;

  ul {
    display: flex;
    flex-direction: column;
    gap: calc($sidebar-element-size / 2);
    list-style: none;
    padding: 0;
    margin: 0;

    @media (max-width: 767px) {
      gap: 0;
    }

    li {
      padding: 0;
      margin: 0;
    }
  }

  ul li .sidebar-text {
    transition: flex-basis 0.25s ease, opacity 0.25s ease;
  }

  &.collapsed ul li .sidebar-text {
    flex-basis: 0;
    opacity: 0;
    visibility: hidden;
  }

  &:hover ul li .sidebar-text {
    flex-basis: auto;
    opacity: 1;
    visibility: visible;
  }
}

.sidebar-icon {
  width: $sidebar-icon-size;
  height: $sidebar-icon-size;
  flex-shrink: 0;
  color: var(--color-icon);
}

.nav-item {
  display: flex;
  align-items: center;
  padding: calc(($sidebar-element-size - $sidebar-icon-size) / 2);
  gap: calc($sidebar-element-size - $sidebar-icon-size);
  text-decoration: none;
  color: var(--color-text);
  font-size: 20px;
}

.nav-item.active {
  background-color: var(--color-sidebar-selection-bg);
  border-radius: calc($sidebar-element-size - $sidebar-icon-size);
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.nav-item.active .sidebar-icon {
  color: var(--color-accent);
}

/* ------------------------- */
/* TOP SIDEBAR TITLE ("ADHD Helper") */
/* ------------------------- */
.sidebar-title-item {
  display: flex;
  align-items: center;
  gap: calc(($sidebar-element-size - $sidebar-icon-size) / 2);

  @media (max-width: 767px) {
    display: none !important;
  }
}

/* ------------------------- */
/* LOGOUT BUTTON */
/* ------------------------- */
.logout-button {
  background-color: var(--color-accent);
  color: var(--color-on-accent);
  border: none;
  border-radius: 30px;
  width: $sidebar-element-size;
  padding: 10px 20px;
  min-width: 80px;
  display:flex;
  justify-content: center;
  align-items: center;

  &:hover, &:focus, &:active, &:disabled{
    background-color: var(--color-accent-hover);
    color: var(--color-on-accent);
  }
}

.content {
  height: 100vh;
}
