spring:
  datasource:
    url: jdbc:mysql://localhost:3306/adhd_db
    username: adhd-user
    password: adhd-user
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    enabled: true
    locations: classpath:db/migration
  jpa:
    show-sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://accounts.google.com
    azure:
      keyvault:
        secret:
          property-sources:
            - endpoint: https://adhd-helper-kv.vault.azure.net/
logging:
  level:
    web: debug
    org.springframework.security: DEBUG