spring:
  datasource:
    url: jdbc:mysql://localhost:3306/adhd_db
    username: adhd-user
    password: adhd-user
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    enabled: true
    locations: classpath:db/migration

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://accounts.google.com
      client:
        registration:
          google:
            client-id: ${adhdhelper-dev-google-client-id}
            client-secret: ${adhdhelper-dev-google-client-secret}

        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://www.googleapis.com/oauth2/v4/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
  cloud:
    azure:
      keyvault:
        secret:
          endpoint: https://adhd-helper-kv.vault.azure.net/
